    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign-in</title>
        <link rel="stylesheet" href="/css/sign-in.css"/>

    </head>
    <body><p id="logo">
        <img src="https://www.clipartmax.com/png/middle/254-2547646_hive-is-a-two-player-strategy-game-in-which-players-hive-pillbug.png" alt="Hive Is A Two-player Strategy Game In Which Players - Hive: Pillbug Pocket Expansion@clipartmax.com" >
    </p>
    
        <h1 id="heading">Bug Hive</h1>
        <div class="main-wrapper">
    
            <div class="card-container">
                <div class="card">
                    <div class="login-form">
                        <div class="header">Log in</div>
                        <div class="content">
                            <form method="POST" action="/user/create-session">
                                <div class="input-field" >
                                    <input type="text" placeholder="Email Address" name="email" required>
                                </div>
                                <div class="input-field">
                                    <input type="password"  placeholder="Password" name="password" required>
                                </div>
                                <div class="input-field">
                                    <button class="btn btn-submit" type="submit">Log in</button>
                                </div>
                            </form>
                        </div>
                        <div class="footer">
                            Don't have an account ?
                            <button class="btn btn-rotate" id="btn-signup">Sign up</button>
                        </div>
                    </div> <!-- end login-form panel -->
                    <div class="signup-form">
                        <div class="header">Sign up</div>
                        <div class="content">
                            <form action="/user/sign-up" enctype="multipart/form-data" method="POST">
                                <div class="input-field" >
                                    <input type="text" placeholder="Username" name="username" required>
                                </div>
                                <div class="input-field" >
                                    <input type="email" placeholder="Email" name="email" required>
                                </div>
                                <div class="input-field" >
                                    <input type="text" placeholder="Contact No." name="contact_no" required>
                                </div>

                                <div class="input-field" >
                                    <input type="file" name="avatar" placeholder="Profile Picture" required>
                                </div>

                        
                                <div class="input-field group">
                                    <input type="password" placeholder="Password" name="password" required>
                                    <span class="see-password">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path fill="#fff" d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
                                        </svg>
                                    </span>
                                </div>

                                <div class="input-field">
                                    <button class="btn btn-submit" type="submit">Get started</button>
                                </div>
                            </form>
                        </div>
                        <div class="footer">
                            <button class="btn btn-rotate" id="btn-login">I have an account</button>
                        </div>
                    </div> <!-- end signup-form panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div>
        <script src="/js/sign-in.js"></script>
        
    </body>
    </html>