.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .submit-btn{
    display:flex;
    flex-direction: row;
    justify-content: center;
}


.projects-wrapper{
    display: flex;
    flex-direction: column;
    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
    background-color: white;
    width:100%;
    height:100%;
    min-height: 90%;
    overflow:scroll ;
}
.create-project-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#myBtn{
    padding:.4em;
    font-size: 20px;
    font-weight: 900;
    color:white;
    background-color: violet;
    border-radius: 10px;
    margin:.3em;
}
.form-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.project-avatar{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#image-content{
    margin:auto;
    width: 70px;
    height:70px;
    background-color: #aaaaaa;
    border-radius: 50%;
}
input[type="file"]{
    padding-left: 3em;
}
.project-cards-wrapper{
  margin:auto;
  width:98%;
  height:90%;
  box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.project-detail{
  width:22%;
  height:35%;
  margin:.9em;
  box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
  border-radius: 15px;
  overflow: hidden;
}
.project-detail-content{
  height:80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:0em 1em 0em 1em;
}
.view-btn{
  height:20%;
  background-color: violet;
  display: flex;
  justify-content: center;
}
.profile-image img{
  object-fit: cover;
  width: 85px;
  height:85px;
  border-radius:50%;
}
.view-btn a{
  color:white;
  font-size: larger;
  font-weight:bolder;
  text-align: center;
  padding-top: .3em;
  text-decoration: none;
  padding-left: .9em;
}
.single-project-detail{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
  border-radius: 15px;
  margin:.5em;
}
.single-project-img img{
  width:200px;
  height:200px;
  object-fit: cover;
  border-radius: 50%;
  margin:.9em;
  margin-left: 3em;;
}
table{
  width:100%;
  padding-top:1em;
}
tbody tr td{
  text-align: center;
  padding-top: .5em;
}
.P0, .P1, .P2, .P3{
  
  color: white;
  border-radius: 10px;
  padding:.3em;
  font-weight: 900;
}
.P0{
  background-color: red;
}
.P1{
  background-color: orangered;

}
.P2{
  background-color: orange;

}
.P3{
  background-color: yellow;

}